@import "./styles/mixins.scss";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  user-select: none;
}

a {
  text-decoration: none;
  color: black;
}

$color1: white;
$color2: #1B4242;
$color3: #5C8374;

.red {
  color: #D24545;
}

.purple {
  color: #6C22A6;
}

.green {
  color: #74E291;
}

.container {
  max-width: 1367px;
  width: 100%;
  margin: auto;
  overflow: auto;

  >h1 {
    @include heading;
    margin: 1rem 0;
    text-align: left;
  }
}

.header {
  @include flex(row, space-between, stretch, 1.2rem);
  padding: 1rem;

  .logo-img {
    width: 70px;
  }

  nav {
    @include flex(row, space-around, center, 1.2rem);
    width: 20%;

    a {
      color: $color2;
      letter-spacing: 2px;
      font-size: 1.2rem;

      &:hover {
        color: $color3;
      }
    }

    button {
      border: none;
      font-size: 1.2rem;
      cursor: pointer;
      background-color: transparent;

      &:hover {
        color: $color3;
      }
    }

    dialog {
      border: 1px solid black;
      border-radius: 5px;
      padding: 10px;
      width: 100px;
      position: absolute;
      left: calc(100% - 100px);
      top: 8%;

      >div {
        @include flex(column, flex-start, center, 0.25rem);
      }
    }
  }
}